body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Cormorant";
  font-size: 20px;
  color: white;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover,
a:visited {
  color: white;
}

/* Header section */
#header {
  position: fixed;
  display: flex;
  height: 3rem;
  width: 100%;
  background-color: rgb(77, 72, 72);
  color: rgb(0, 0, 0);
}

.header-title {
  font-size: 2rem;
  width: 50%;
  padding-left: 10px;
  padding-top: 4px;
}

.header-item-container {
  display: flex;
  width: 50%;
}

.header-item {
  color: white;
  margin: auto;
}

/* Welcome section */
#welcome {
  background-color: rgb(33, 33, 33);
  height: 120vh;
  width: 100vw;
  padding-top: 5vh;
}
